@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track Not On Hover*/
::-webkit-scrollbar-track {
    background: none;
}

/* Thumb Not On Hover*/
::-webkit-scrollbar-thumb {
    background: none;
}

/* Track On Hover*/
:hover::-webkit-scrollbar-track {
    background: #191919;
}

/* Thumb On Hover*/
:hover::-webkit-scrollbar-thumb {
    background: #4D4D4D;
    border-radius: 5px;
}