@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track Not On Hover */
::-webkit-scrollbar-track {
    background-color: none;
}

/* Thumb Not On Hover */
::-webkit-scrollbar-thumb {
    background-color: none;
}

/* Track On Hover */
/* :hover::-webkit-scrollbar-track {
    background-color: #191919;
} */

/* Thumb On Hover */
:hover::-webkit-scrollbar-thumb {
    background-color: #4D4D4D;
    border-radius: 5px;
}
